.wrapper{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.card-logo{
  width: 323px;
  height: 84px;
  margin:10px auto;
  background-image: url('logo.png');
}
.card-x{
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/sjwIelw3nbI.png');
  background-position: 0px -527px;
  background-size: auto;
  width: 20px;
  height: 20px;
  /*background-repeat: no-repeat;
  display: inline-block; */
  margin: 12px 12px;
  margin-left:650px;
  cursor: pointer;
  
}
.card-heading{
  padding:10px 117px;  
}
h4{
  font-weight:bold;
}
.wrapper-hr{
  border: solid black;
}
.wrapper-from {
  
    max-width: 690px;
  }
.page-wrapper {
    min-height: 100vh;
  }
  .wrapper {
    margin: 0 auto;
  }
  .card-5 {
    background: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  .Name{
    width:150px ;
    padding: 12px 0;
    font-weight: 700;
  }
  .image{
    padding-top: 10px;
  }
  .form-row {
    
    margin-bottom: 30px;
  }
  .card-form{
    padding: 20px 40px;
    
  }
  
  .button{
    margin: 0 auto;
  }
  
.input-style {
  background: #FFFFFF;
  line-height: 50px;
  border:1px solid #eaecee ;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 15px;
  color: rgb(85, 85, 85);
  width: 429px;
}
#position{
  height: 50px;
}
.submit{
  background: rgba(29, 172, 203, 0.68);
  border-radius: 3px;
  border: 0px;
  color: white;
  font-size: 20px;
}
select.form-select {
  cursor: pointer;
  color: #999; 
}
select.form-select option[value=""][disabled] {
    display: none; 
}
.form-select{
  width: 429px; 
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 47px;
  display: block;
  border: 1px solid #e6e6e6;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0 19px;
}